html, body {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  font-family: 'Times New Roman', Times, serif;
  color: chartreuse;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  display: block;
}

.info-display {
  font-family: 'Times New Roman', Times, serif;
  color: red;
  height: 300px;
  border: 5px solid red;
  border-radius: 25px;
  background-color: blue;
  padding: 0 30px;
}